Repository HazardousHenkie/japanese-learning-app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, git add --force, yarn prettier:fix

.lintstagedrc.json:

{
  "*.{ts,js.vue}": [
    "yarn lint:fix",
    "git add --force"
  ],
  "*.{ts,js.vue,json,md}": [
    "yarn prettier:fix",
    "git add --force"
  ]
}

lint staged change
  package.json
  yarn.lock
Due: git add --force, yarn prettier:fix

lint staged change
  .huskyrc.json
Due: git add --force, yarn prettier:fix

lint staged change
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  README.md
  package.json
  tests/unit/example.spec.ts
  tsconfig.json
  yarn.lock
Due: yarn lint:fix, git add --force, yarn prettier:fix

lint staged change
  .prettierignore
Due: none

addvalue
  package.json
  src/components/molecules/Card/Card.vue
  src/containers/App/molecules/Routes/Routes.vue
  src/router/index.ts
  src/shims-vue.d.ts
  src/utils/routes.ts
  src/views/AddWord.vue
  src/views/Home.vue
  tests/integration/views/dashboard.spec.ts
  yarn.lock
Due: yarn lint:fix, git add --force, yarn prettier:fix

changing
  .eslintrc.js
  .vscode/settings.json
  src/components/atoms/Button.vue
  src/components/atoms/Card.vue
  src/components/molecules/FullPageLoader.vue
  src/components/molecules/Input.vue
  src/containers/App/App.vue
  src/containers/App/molecules/LoginButton.vue
  src/containers/App/molecules/LogoutButton.vue
  src/containers/App/molecules/Routes.vue
  src/containers/App/organisms/Navigation.vue
  src/router/index.ts
  src/views/About/index.vue
  src/views/AddWord/index.vue
  src/views/Dashboard/Molecules/WordCardContent.vue
  src/views/Dashboard/index.vue
  todo.txt
  tsconfig.json
Due: yarn lint:fix, git add --force, yarn prettier:fix

changing
  package.json
  src/api/index.ts
  src/api/v1/Words/index.ts
  src/api/v1/index.ts
  src/components/molecules/Input.vue
  src/types/words.ts
  src/utils/axios.ts
  src/views/AddWord/index.vue
  yarn.lock
Due: yarn lint:fix, git add --force, yarn prettier:fix

changing
  src/components/templates/Auth/index.ts
  src/router/index.ts
  src/utils/requestUtils.ts
  src/views/AddWord/index.vue
Due: yarn lint:fix, git add --force, yarn prettier:fix

adding simple request pattern
  src/api/v1/Words/index.ts
  src/components/atoms/Button.vue
  src/styles/index.scss
  src/utils/requestUtils.ts
  src/views/AddWord/index.vue
Due: yarn lint:fix, git add --force, yarn prettier:fix

changing
  src/Auth/authGuard.ts
  src/Auth/index.ts
  src/components/atoms/ErrorMessage.vue
  src/components/atoms/Input.vue
  src/components/atoms/Label.vue
  src/components/molecules/Form.vue
  src/components/molecules/InputField.vue
  src/components/molecules/LoginButton.vue
  src/components/molecules/LogoutButton.vue
  src/components/molecules/Routes.vue
  src/components/molecules/WordCardContent.vue
  src/components/organisms/AddWordForm.vue
  src/components/organisms/Navigation.vue
  src/components/templates/About/index.vue
  src/components/templates/AddWord/index.vue
  src/components/templates/Dashboard/index.vue
  src/containers/App/App.vue
  src/pages/About/index.vue
  src/pages/AddWord/index.vue
  src/pages/Dashboard/Molecules/WordCardContent.vue
  src/pages/Dashboard/index.vue
  src/router/index.ts
  tests/unit/example.spec.ts
Due: yarn lint:fix, git add --force, yarn prettier:fix

changing
  .eslintrc.js
  src/api/v1/Words/index.ts
  src/components/atoms/ErrorMessage.vue
  src/components/atoms/Input.vue
  src/components/atoms/Label.vue
  src/components/molecules/Form.vue
  src/components/molecules/InputField.vue
  src/components/organisms/AddWordForm.vue
  src/components/organisms/Navigation.vue
  src/components/organisms/WordCard.vue
  src/components/templates/About.vue
  src/components/templates/AddWord.vue
  src/components/templates/AddWord/index.vue
  src/components/templates/Dashboard.vue
  src/components/templates/Dashboard/index.vue
  src/containers/App/App.vue
  src/main.ts
  src/pages/About.vue
  src/pages/AddWord.vue
  src/pages/AddWord/index.vue
  src/pages/Dashboard.vue
  src/pages/Dashboard/Molecules/WordCardContent.vue
  src/router/index.ts
  src/utils/requestUtils.ts
  todo.txt
  tsconfig.json
  universal-login.html
Due: yarn lint:fix, git add --force, yarn prettier:fix

changing
  src/components/templates/AddWord/components/organisms/AddWordForm.vue
  src/components/templates/AddWord/index.vue
  src/components/templates/Dashboard/components/organisms/WordCard.vue
  src/components/templates/Dashboard/index.vue
  src/pages/AddWord.vue
  src/pages/Dashboard.vue
  src/router/index.ts
  todo.txt
Due: yarn lint:fix, git add --force, yarn prettier:fix

smallfix
  src/components/templates/Dashboard/components/organisms/WordCard.vue
Due: none

fix
  src/components/atoms/ListItem.vue
  src/components/organisms/List.vue
  src/components/templates/MyWords/index.vue
  src/pages/MyWords.vue
  src/router/index.ts
  src/utils/routes.ts
  todo.txt
Due: yarn lint:fix, git add --force, yarn prettier:fix

list
  src/components/atoms/ListItem.vue
  src/components/organisms/List.vue
  src/components/templates/MyWords/components/molecules/ListItemButtons.vue
  src/components/templates/MyWords/index.vue
  src/pages/MyWords.vue
  src/types/words.ts
  src/utils/icons.ts
  src/utils/routes.ts
  todo.txt
Due: yarn lint:fix, git add --force, yarn prettier:fix

edit word
  src/components/templates/AddEditWord/components/organisms/AddWordForm.vue
  src/components/templates/AddEditWord/index.vue
  src/components/templates/AddWord/index.vue
  src/components/templates/MyWords/components/molecules/ListItemButtons.vue
  src/pages/AddEditWord.vue
  src/pages/AddWord.vue
  src/pages/MyWords.vue
  src/router/index.ts
  src/utils/routes.ts
Due: yarn lint:fix, git add --force, yarn prettier:fix

smaller fixes, loading, editing, types
  src/api/v1/Words/index.ts
  src/components/atoms/Title.vue
  src/components/molecules/Form.vue
  src/components/templates/AddEditWord/components/organisms/AddWordForm.vue
  src/components/templates/PageNotFound/index.vue
  src/containers/App/App.vue
  src/pages/AddEditWord.vue
  src/pages/Dashboard.vue
  src/pages/MyWords.vue
  src/pages/PageNotFound.vue
  src/router/index.ts
  src/utils/requestUtils.ts
  src/utils/routes.ts
  todo.txt
Due: yarn lint:fix, git add --force, yarn prettier:fix

Update README.md
  README.md
Due: git add --force, yarn prettier:fix
